<div>
    <input type="button" value="sync" ng-click="sync()"/>
    <as-upload-btn></as-upload-btn>
    <input type="checkbox" ng-model="editable"/>
    <!--<as-asset as-transformable model="dummyModel" ediable="editable"></as-asset>-->
    <!--<as-asset as-transformable></as-asset>-->
    <!--<ul>-->
        <!--<li ng-repeat = "res in resources">-->
            <!--<img src="http://adscreen.resources.s3.amazonaws.com/resources/{{res._id}}" alt=""/>-->
        <!--</li>-->
    <!--</ul>-->
    <img src="" id="testImg" alt=""/>
</div>